.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 0.9em sans-serif;
  position: absolute;
  margin-left: 30vw;
  margin-top: 15vh;
  z-index: 1;
}

.container {
  background-color: #f0ecec;
  border: 2px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  height: 80vh;
  border-radius: 1rem;
  align-content: flex-start;
  gap: 2rem;
}
.titleb {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.notifications {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.textarea {
  margin-left: 2rem;
}
.icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.button {
  border: none;
}

.activity {
  display: flex;
  justify-content: space-between;
  margin-right: 20rem;
}

.hideDetailsBtn {
  border: none;
  background-color: #999;
  border-radius: 0.2rem;
  padding: 0.3rem;
  padding-right: 0.4rem;
  font-size: 12px;
}
