.editable {
  width: 100%;
}

.editable_display {
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
  cursor: default;
  text-align: center;
}

.editable_display:hover {
  background-color: #ccc;
}

.editable_edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editable_edit input {
  border-radius: 3px;
  outline: none;
  border: 1px solid gray;
  cursor: default;
  padding: 10px;
  font-size: 16px;
}

.editable_edit_footer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.editable_edit_footer svg {
  cursor: pointer;
}

.editable_edit_footer button {
  padding: 8px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(114, 5, 5, 0.822);
  transition: 200ms;
  cursor: pointer;
}

.editable_edit_footer button:hover {
  background-color: rgb(114, 5, 5);
}
