.cardinfo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 550px;
    width: fit-content;
    max-width: 650px;
    height: fit-content;
  }
  
  .cardinfo_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cardinfo_box_title {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .cardinfo_box_title p {
    font-weight: bold;
    font-size: 1.2rem;
  }