.card {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_top {
  display: flex;
  gap: 5px;
}

.card_title{
  font-weight: bold;
}

.card_top_labels {
  flex: 1;
  display: flex;
  gap: 10px;
}

.card_top svg {
  opacity: 0;
  transition: 200ms;
}

.card_top_more{
  position: relative;
}

.card_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_footer svg{
  width: 14px;
  height: 14px;
}

.card:hover .card_top svg {
  opacity: 1;
}
