* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

p {
  font-size: 16px;
  line-height: 28px;
}

.app {
  height: 100vh;
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;

}
.app_navbar {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.app_navbar p{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.app_navbar button{
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.app_navbar ul{
  display: flex;

}
.app_navbar ul li {
  display: flex;
  margin: 5px;
}

.app_outer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.app_boards {
  height: 100%;
  padding: 20px;
  padding-bottom: 5px;
  min-width: fit-content;
  display: flex;
  gap: 30px;
}
.app_boards_board{
  min-width: 290px;
  width: 290px;

}

.app_boards_board_add{
  background-color: #fff;
  border-radius: 5px;

}